/*
*= require font-awesome
*/

* {
  box-sizing: border-box;
  font-family: "open sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html {
  font-family: "open sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#content {
  background-color: #F4F6FA;
}

.settings-title-div {
  text-align: center;
  padding: 10px 10px 0;
}


.header {
  font-family: "open sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 100;
}

.api-info-div {
  font-family: "open sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  padding: 10px;
  border-radius: 5px;
  margin: 30px 10px 10px;
  overflow: auto;
}

.api-info-div li {
  list-style-type: none;
}

.api-info-buttons {
  float: right;
  padding: 10px;
}

a.api-info-button {
  padding: 5px 10px;
  margin: 5px;
  font-family: "open sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0.7px 0.7px 0.7px 0.7px;
  cursor: pointer;
  background-color: #1ab394;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
}

table th {
  background-color: #F5F5F6;
  padding: 8px;
  border: 1px solid #EBEBEB;
}

table td {
  padding: 8px;
  border: 1px solid #EBEBEB;
}

table .list-header {
  font-weight: 900;
}
